@page
@model RazorPagesEventMakerInClass22.Pages.Events.EditEventModel
@{
    ViewData["Title"] = "Edit event";
}
<h1>Edit event</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="@Model.Event.Id" type="hidden" />

            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="control-label" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="control-label" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.City" class="control-label"></label>
                <input asp-for="@Model.Event.City" class="control-label" />
                <span asp-validation-for="Event.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.DateTime" class="control-label"></label>
                <input asp-for="@Model.Event.DateTime" class="control-label" />
                <span asp-validation-for="Event.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save updated event" class="btn btn-primary" />
            </div
            <div class="form-group">
                <input type="submit" value="Delete event" asp-page-handler="Delete" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>
