@page
@model RazorPagesEventMakerInClass22.Pages.Events.IndexModel
@using RazorPagesEventMakerInClass22.Models
@using RazorPagesEventMakerInClass22.Interfaces
@inject IRepository repo
@inject ICountryRepository contryRepo
@inject IHotelRepository hotelRepo
@{
    ViewData["Title"] = "Event oversigt";
}

<h1>List of events</h1>

<form method="post">
    <p>
        Search: <input type="text" asp-for="@Model.FilterCriteria" />
        <input type= "submit" value="Search" />
    </p>

</form>
<a  asp-page="CreateEvent" >Create a new Event</a>
<p>Antal events @repo.GetAllEvents().Count</p>
<p>Antal hoteller @hotelRepo.GetAllHotels().Count</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Country</th>
            <th>Place</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (Event item in Model.Events)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@contryRepo.GetCountry( item.CountryCode ).Name </td>
                <td>@item.City</td>
                <td>@item.DateTime</td>
                <td><a asp-page="EditEvent" asp-route-id=@item.Id>Edit</a>| 
                    <a asp-page="DeleteEvent" asp-route-id=@item.Id>Delete</a></td>
            </tr>

           
           
        }
    </tbody>
</table>
