@page
@using RazorPagesEventMakerInClass22.Models
@model RazorPagesEventMakerInClass22.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Event oversigt";
}

<h1>List of events</h1>

<a  asp-page="CreateEvent" >Create a new Event</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Place</th>
            <th>DateTime</th>
        </tr>
    </thead>
    @*<tbody>
        <h3>For loop</h3>
        @for (int i = 0; i < Model.Events.Count; i++)
        {
            <tr>
                <td>@Model.Events[i].Id</td>
                <td>@Model.Events[i].Name</td>
                <td>@Model.Events[i].Description</td>
                <td>@Model.Events[i].City</td>
                <td>@Model.Events[i].DateTime</td>
            </tr>
        }
              

    </tbody>*@
    <tbody>
        
        @foreach (Event item in Model.Events)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.City</td>
                <td>@item.DateTime</td>
                <td><a asp-page="EditEvent" asp-route-id=@item.Id>Edit</a>| 
                    <a asp-page="DeleteEvent" asp-route-id=@item.Id>Delete</a></td>
            </tr>

           
           
        }
    </tbody>
</table>
